In [7]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

In [8]:
raw_mail_data = pd.read_csv("https://raw.githubusercontent.com/Suyyash09/Spam-Mail-Prediction/main/spam.csv",encoding='latin-1')
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [9]:
mail_data.shape

(5572, 5)

In [10]:
mail_data.head()

     v1  ... Unnamed: 4
0   ham  ...
1   ham  ...
2  spam  ...
3   ham  ...
4   ham  ...

[5 rows x 5 columns]

In [11]:
mail_data.head()

     v1  ... Unnamed: 4
0   ham  ...
1   ham  ...
2  spam  ...
3   ham  ...
4   ham  ...

[5 rows x 5 columns]

In [12]:
mail_data.drop(mail_data.columns[[2,3,4]], axis = 1, inplace = True)

In [13]:
mail_data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [14]:
mail_data.loc[mail_data['v1'] == 'spam', 'v1' ] = 0
mail_data.loc[mail_data['v1'] == 'ham', 'v1' ] = 1

In [15]:
x = mail_data['v2']
y = mail_data['v1']

In [16]:
print(x)
print("------------------")
print(y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will ÃŒ_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object
------------------
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: object

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.8,test_size=0.2,random_state=3)

In [18]:
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase='True')
x_train_features = feature_extraction.fit_transform(x_train)
x_test_features = feature_extraction.transform(x_test)

y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [19]:
model = LinearSVC()
model.fit(x_train_features,y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [20]:
prediction_on_training_data = model.predict(x_train_features)
accuracy_on_training_data = accuracy_score(y_train, prediction_on_training_data)

print('accuracy on training data : ',accuracy_on_training_data)

accuracy on training data :  0.9995512676688355

In [21]:
prediction_on_test_data = model.predict(x_test_features)
accuracy_on_test_data = accuracy_score(y_test, prediction_on_test_data)

print('accuracy on test data : ',accuracy_on_test_data)

accuracy on test data :  0.9856502242152466

In [22]:
input_mail = ["Is that seriously how you spell his name?"]
input_mail_features = feature_extraction.transform(input_mail)

prediction = model.predict(input_mail_features)

if (prediction[0] == 1):
  print('Ham mail')
else:
  print('spam mail')

Ham mail